*{
    box-sizing: border-box;
}

body{
    margin:0;
    background-color: rgba(229, 227, 255, 0.63) !important;
}

.calcs{
 
    width: 13.33%;
    background: #28465e;
    display: flex;
    justify-content: space-around;
    padding: 25px;
    margin: auto;
    border-radius: 3px;
    color: #ffffff;
    font-size: 33px;
}

.calcs div{
  cursor: pointer;
}

.new-class{
    background-color: green;
}

.sidebtn{
    position: absolute;
    right: 35px;
    top: 35px;
    border: 0;
    cursor: pointer;
    background-color: transparent;
    outline: 0;
    width: 50px;
    height: 40px;
    transition: all .6s;
}

.sidebtn span{
    height: 3px;
    background-color: #f44336;
    display: block;
    width: 100%;
    transition: all .6s;
    margin-bottom: 5px;
}

.sidebtn.show  {

    margin-right: 300px;

}

.sidebtn.show span:nth-child(2){
  opacity: 0;
  width: 0;
}

.sidebtn.show span:nth-child(1){
  transform: translateY(5px) rotate(45deg);
  }

  .sidebtn.show span:nth-child(3){
  transform: translateY(-10px) rotate(-45deg);
  }

.sidebar{
    height: 100vh;
    position: fixed;
    background-color: #3f51b5;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 300px;
    transition: all .6s;
    transform: translatex(100%);
}

.sidebar.show{
    transform: translatex(0);
}
.attr{
    margin: 100px auto;
    padding:50px;
    width: 35%;
    box-shadow: 1px 2px 16px #ccc
}

.attr input, button{
    display: block;
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #e5caca9e;
    border-radius: 7px;
}

.attr button{
    padding: 15px 20px;
    width: fit-content;
    color: #fff;
    cursor: pointer;
    background-color: #3f51b5;
}

.attr button:disabled{
  cursor: not-allowed;
  opacity: .6;
}

#msg{
    display: none;
    padding: 25px;
    border-radius: 7px;
    background-color: #f443363a;
    color: red;
}

.myforms{
    position: relative;
    min-height: 323px;
}

.myforms form{
    background-color: #fff;
     width: 50%;
     position: absolute;
     transition: all .5s;
}

.overley{
    position: absolute;
    right: 0;
    z-index: 777;
    background-color: red;
    color: #fff;
    height: 100%;
    flex-wrap: wrap;
    width: 50%;
    padding: 50px;
    display: flex;
    align-items: center;
    transition: all .5s;
}

.myforms.slider .overley{
   transform: translateX(-100%);
}

.myforms.slider form{
    transform: translateX(100%);
 
 }

.myforms.slider .reg{
 
    z-index: 1;
 }

 .flexss{
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #d5dcff;
    padding: 10px;
    border-radius: 20px;
 }

.flexss input{
    border: 0;
    outline: 0;
}

.mytag{
    border-radius: 50px;
    padding: 7px 22px;
    margin: 5px;
    border: 1px solid #3f51b5;
    display: inline-block;
}

.mytag i{
  cursor: pointer;
  color: red;
}

.cars {
    overflow: hidden;
}

.cars p{
color: #3f51b5;
  width: 450px; 
  height: 250px;
  transform: translateX(100%);
  transition: all .6s;
    
}

.cars p.active{
    transform: translateX(0);
   
    color: #fff;
    
}

 