*{
    box-sizing: border-box;
}

.box{
    width: 400px;
    height: 400px;
    margin: auto;
    background-color: black;
}

body{
    margin: 0;
}

.text{
    border-radius: 50%;
    width: 50px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    margin: auto;
    box-shadow: 0px 3px 5px #ccc;
    background-color: crimson;
    color: #fff;
}

.innertext{
    text-align: center;
    opacity: 0;
    width: 0;
}

.innertext h3{
 color: darkslategrey;
 text-align: center;
}
.innertext .tes{
    color: #fff;
    padding: 8px;
    background-color: #ff2d2d;
    border: 0;
    border-radius: 3px;
}

body.bg-dark{
    background-color: red;
}

#mybox{
    width: 400px;
    height: 400px;
    background-color: red;
    margin: auto;
    padding: 20px;
    border: 10px solid green;
}

.d-flex{
    display: flex;

}
.d-flex img{
 cursor: pointer;
}


.imgoutput{
    position: absolute;
    top: 35%;
    left: 50%;
    opacity: 0;
    padding: 20px;
    transform: translateX(-50%);
    z-index: 566;
    background-color: #fff;
    width: 300px;
    height: 500px;
    border: 1px solid red;
}

.imgoutput img{
 max-width: 100%;
}

.parents{
    text-align: center;
}